body {
    font-family: Rubik;
    font-size: 12px;
}

body.hidden {
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 18px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #E6E5E5;
    background-color: #FFFFFF;
}
.header-body {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

/* ЛЕВАЯ НАВИГАЦИЯ */

.main-nav {
    display: flex;
}
.main-nav-item {
    display: flex;
    height: 60px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 12px 0 0;
}
.main-nav-item.active .main-nav-link span{
    display: block;
    transform: rotate(-90deg);
    font-size: 16px;
 }
.main-nav-link {
    color: #000000;
    display: flex;
    align-items: center;
}
.main-nav-link span{
    display: block;
    transform: rotate(90deg);
    font-size: 16px;
 }

.header-burger{
    display: none;
    background: none;
    position: absolute;
    color: #000000;
}
.header-burger span::before{
    content: "menu";
    transition: 0.2s;
    color: #000000;
}
.header-burger.active span::before{
    content: "close";
    transition: 0.2s;
    color: #000000;
 }
/* ЛОГОТИП */
.header__logo {
    text-transform: uppercase;
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    position: absolute;
    left: 50%;
    margin-left: -60px;
}

/* ПРАВАЯ НАВИГАЦИЯ */
.header-shop {

}
.main-shop {
    display: flex;
}
.main-shop-item {
    display: flex;
    height: 60px;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 0 12px;
}
.main-shop-link {
    color: #000000;
    display: flex;
    align-items: center;
}
.main-shop-link span {
    display: none;
}

.main-shop-item span{
    margin: 0 0 0 6px;
}

/* КАТАЛОГ */

.main-nav-catalog {
    display: none;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 60px;
    left: 0;
    border-bottom: 1px solid #E6E5E5;
    background-color: #FFFFFF;
}
.main-nav-catalog.active{
    display: block;
}

.catalog-nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.catalog-item {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 12px 0 0;
}
.catalog-link {
    color: #000000;
    transition: 1s;
}
.catalog-link span{
    display: none;
 }
.catalog-link:hover {
    color: #C4C4C4;
    transition: 1s;
}

/* Поиск */

.main-shop-search {
    display: none;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 60px;
    left: 0;
    border-bottom: 1px solid #E6E5E5;
    background-color: #FFFFFF;
}
.main-shop-search.active {
    display: block;
}
.search-form {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.search-form-input {
    width: 100%;
    height: 40px;
    padding: 12px;
    border: 1px solid #E6E5E5;
}
.search-form-close {
    background: none;
    margin: 0 0 0 7px;
}

/* Основной контент */

main{
    margin: 84px 0;
    padding: 0 0 42px 0;
}

/* Подвал */

.footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
}
.footer-body {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-info {
    display: flex;
    text-transform: uppercase;
    font-weight: 400;
}
.footer-info span{
    font-weight: 500;
}
.main-info {
    display: flex;
}
.main-info-item {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 12px 0 0;
}
.main-info-link {
    color: #000000;
}

.room-body {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.room-img {
    width: 50%;
    border: 1px solid #E6E5E5;
}
.room-img-img {
    width: 100%;
}
.room-form {
    width: 50%;
    display: flex;
    border: 1px solid #E6E5E5;
    align-items: center;
    justify-content: center;
}

.room-form form{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.room-form form p{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}
.room-form form h1{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.room-input {
    margin: 48px 0 72px 0;
    display: flex;
}
.room-input input {
    height: 36px;
    padding: 12px;
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
}
.room-input button {
    height: 36px;
    width: 36px;
    background: none;
    border-bottom: 1px solid #C4C4C4;
    color: #000000;

}

.catalog {
    margin: 48px 0;
}
.catalog-title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin: 0 0 0 16px;
}
.catalog-body {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 12px 12px; 
    margin: 24px 0;
}
.catalog-cart {
    border: 1px solid #E6E5E5;
    padding: 12px;
    background-color: #F5F5F5;
}
.cart-img {
    max-width: 100%;
}
.cart-info {
    margin: 12px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.cart-title {
    text-transform: uppercase;
    font-size: 11px;
    color: #000000;
    font-weight: 500;
}
.cart-price {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
}
.cart-price span{
    font-size: 16px;
    color: #20252B;
    font-weight: 600;
    display: inline-block;
    margin: 6px 0 0 0;
}
.catalog-arrow{
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20252B;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
    border-radius: 6px;
}
@media (max-width: 1200px){
    .catalog-body {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: auto; 
        gap: 12px 12px; 
        margin: 24px 0;
    }
}
@media (max-width: 850px){
    .catalog-body {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto; 
        gap: 12px 12px; 
        margin: 24px 0;
    }
}
@media (max-width: 750px) {
    .catalog-body {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto; 
        gap: 12px 12px; 
        margin: 24px 0;
    }
    .header-burger{
        display: block;
    }
    .main-nav {
        position: absolute;
        top: 60px;
        left: -100%;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        background-color: #FFFFFF;
    }
    .main-nav.active{
        left: 0;
        transition: 0.3s;
    }
    .main-nav-item{
        border-bottom: 1px solid #E6E5E5;
        margin:0;
        padding: 14px;
    }
    .main-nav-link {
        padding: 0 4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
    .main-nav-link span{
        transform: rotate(0deg);
        font-size: 24px;
        transition: 0.2s;

     }
    .main-nav-item.active .main-nav-link{
        display: flex;
        justify-content: space-between;
        transition: 0.2s;
    }
    .main-nav-item.active .main-nav-link span{
        transform: rotate(180deg);
        font-size: 24px;
        transition: 0.2s;
    }
    .main-nav-item:hover {
        border-bottom: 1px solid #E6E5E5;
    }
    .main-nav-link {
        color: #000000;
    }

    .main-nav-catalog {
        position: absolute;
        height: calc(100vh);
        background-color: #FFFFFF;
        overflow: auto;
        padding: 0 18px 175px 18px;
    }
    
    .catalog-nav {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .catalog-item {
        text-transform: uppercase;
        font-weight: 400;
        height: 60px;
        width: 100%;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E6E5E5;
    }
    .catalog-link {
        height: 100%;
        width: 100%;
        color: #000000;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .catalog-link span{
       display: block;
    }
    .catalog-link:hover {
        color: #000000;
        transition: 1s;
    }
    .main-shop-search {
        top: 0;
    }
    .main-shop-item {
        font-size: 0;
        margin: 0 0 0 6px;
    }
    .main-shop-link {
        font-size: 0;
    }
    .main-shop-link span {
        font-size: 20px;
        display: block;
    }
    .room-body {
        flex-direction: column;
    }
    .room-img {
        width: 100%;
    }
    .room-form {
        width: 100%;
        padding: 84px 0;
    }
}

@media (max-width: 500px) {
    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #FFFFFF;
    }
    .footer-body {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer-info {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
    }
    .footer-info span{
        font-weight: 500;
    }
    .footer-nav {
        width: 100%;
    }
    .main-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .main-info-item {
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
    }
    .main-info-link {
        color: #000000;
    }
    .room-form form p{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }
    .room-form {
        width: 100%;
        padding: 63px 0;
    }
    .room-form form h1{
        font-size: 10px;
    }
}

@media (max-width: 450px){
    .catalog-body {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
        gap: 12px 12px; 
        margin: 24px 0;
    }
}